{% extends 'base.html' %}

{% block title %}DSS - Documents{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="card">
    {% load cohort_tags %}
    {% if user|is_gu %}
    <h1>Popular Documents</h1>
    <p>3 MOST POPULAR DOCUMENTS WILL GO HERE (YOU ARE A GU)</p>
    {% else %}
    <h1>Recent Documents</h1>
    <p>YOU 3 MOST RECENTLY EDITED DOCUMENTS (YOU ARE AN OU OR A SU)</p>
    <div>CREATE NEW DOCUMENT</div>
    {% endif %}
</div>
{% else %}
{% include 'registration/please_log_in.html' %}
{% endif %}
{% endblock %}
