{% extends 'search.html' %}

{% block title %}Documents{% endblock %}
{% block head %}
{{ block.super }}
{% load static %}
<link type="text/css" rel="stylesheet" href="{% static 'grids.css' %}">
<style>
    .pfp {
        position: relative;
        margin-right: 4px;
        width: 48px;
        height: 48px;
    }
</style>
{% endblock %}

{% block filters %}
    <a class="gel-anchor" href="{% url 'docs' %}">Clear Search Filters</a>
{% endblock %}

{% block helptext %}
    Try searching for a title, author, and or content of a document, then press enter or search to continue.
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        {% block search %}
            {{ block.super }}
        {% endblock %}

        <div class="card">
            <h1>Taboo Words</h1>
            <p>Click <a href="{% url 'taboo_list' %}">here</a> to view the current list of taboo words.</p>
            <p>Remember: abusing taboo words will result in punishment!</p>
        </div>

        {% load cohort_tags %}
        {% if user|is_gu %}
            <div class="card blend">
                <h1>Popular Documents</h1>
                    <hr />
                <div class="gallery">
                    {% for doc in docs %}
                        <div class="card">
                            {% include 'accounts/pfp.html' with user=doc.owner %}
                            <div class="media-body">
                                <div class="article-metadata">
                                <a class="mr-2" href="#">{{ doc.owner }}</a>
                                </div>
                                <h2><a class="article-title" href="{% url 'doc-detail' doc.id %}">{{ doc.title }}</a></h2>
                                <p class="article-content">Privacy: {{ doc.privacy }}</p>
                                <p class="article-content">Number of Views: {{ doc.view_count }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% else %}
            <fieldset class="card">
                <legend><h1>Create New Doc</h1></legend>
                <div class="body-text"><a class="gel-anchor" href="{% url 'doc-create' %}">New Doc</a></div>
            </fieldset>
            <div class="card blend">
                <h1>Recent Documents</h1>
                    <hr />
                <div class="gallery">
                    {% for doc in docs %}
                        <div class="card">
                            {% include 'accounts/pfp.html' with user=doc.owner %}
                            <div class="media-body">
                                <div class="article-metadata">
                                <a class="mr-2" href="#">{{ doc.owner }}</a>
                                </div>
                                <h2><a class="article-title" href="{% url 'doc-detail' doc.id %}">{{ doc.title }}</a></h2>
                                <p class="article-content">Privacy: {{ doc.privacy }}</p>
                                <p class="article-content">Number of Views: {{ doc.view_count }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                    <hr />
                <div>
                    {% block limiter %}
                        {{ block.super }}
                    {% endblock %}
                </div>
                {% block paginator %}
                    {% with page_obj as list_of_items %}
                        {{ block.super }}
                    {% endwith %}
                {% endblock %}
            </div>
        {% endif %}
    {% else %}
        {% include 'registration/please_log_in.html' %}
    {% endif %}
{% endblock %}
