{% extends 'base.html' %}

{% block title %}{{ object.title }} - {{ object.owner }}{% endblock %}
{% block head %}
{{ block.super }}
{% load static %}
<link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="{% static 'forms.css' %}">
<link type="text/css" rel="stylesheet" href="{% static 'flexboxes.css' %}">
<link type="text/css" rel="stylesheet" href="{% static 'widgets.css' %}">
<link type="text/css" rel="stylesheet" href="{% static 'document_detail.css' %}">
<script type="text/javascript" src="{% static 'effects.js' %}"></script>
{% endblock %}
{% block onload %}collapseItems();{% endblock %}

{% block content %}
    {% block toolbox %}
        <div id="doc-details-{{ object.id }}" class="card">
            <ul id="doc-toolbox" class="bulletless">
                <li>
                    {% include 'accounts/pfp.html' with user=object.owner %}
                </li>
                <li>
                    <h2><a class="gel-anchor" href="{% url 'individuals' object.owner.username %}">{{ object.owner }}</a></h2>
                </li>
                {% load cohort_tags %}
                {% if object.owner == user or canedit or object.privacy == "RESTRICTED" and user|has_ou_rights %}
                    {% if object.lock_status == False %}
                        <li>
                            <h2 class="group"><a class="gel-anchor" href="{% url 'doc-update' object.id %}">Edit</a></h2>
                        </li>
                        {% if not user|is_locked_out %}
                            <li>
                                <h2><a class="gel-anchor" href="{% url 'doc-delete' object.id %}">Delete</a></h2>
                            </li>
                        {% endif %}
                    {% endif %}
                        {% if object.owner == user and object.privacy == "SHARED" %}
                            <li>
                                <h2><a class="gel-anchor" href="{% url 'compose' %}?&inviteto={{ object.id }}&showthis={% url 'doc-invite' object.id %}">Invite Users</a></h2>
                            </li>
                        {% endif %}
                {% endif %}
                {% if object.owner != user and user|has_gu_rights %}
                    <li>
                        <h2><a class="gel-anchor" href="{% url 'compose' %}?&to={{ object.owner.id }}&reason=FILE A COMPLAINT&showthis=I have a complaint about {{ object.title }}.">File a Complaint</a></h2>
                    </li>
                {% endif %}
            </ul>
            {% if object.owner == user and object.privacy == "SHARED" %}
            <hr />
                <form class="auto-width body-text" method="post">
                    {% csrf_token %}
                    <label>Remove Contributors:</label>
                    <div class="bulletless-all">
                        {{ remove_user_form.as_p }}
                    </div>
                    <input type="submit" name="Kick" value="Kick">
                </form>
            {% endif %}
            {% if object.owner == user or canedit %}
            <hr />
                <form class="body-text" method="post">
                    {% csrf_token %}
                        <div class="form-group">
                            {% if object.lock_status == False %}
                                <button type="submit" name="Lock" value="Locked">Lock</button>
                            {% else %}
                                <p>This document has been locked by {{ object.locked_by }} for updating.</p>
                                <button type="submit" name="Unlock" value="Unlocked">Unlock</button>
                                <button type="submit" name="Update" value="Updated">Update</button>
                            {% endif %}
                        </div>
                </form>
            {% endif %}
            {% load formatting_tags %}
            {% if object.privacy == "SHARED" and object.owner == user or canedit %}
                {% include 'toggler.html' with uid="doc-details-"|concatenater:object.id %}
            {% endif %}
        </div>
    {% endblock %}

    {% block doc_content %}
        <div class="card blend">
            {% load taboo_tags %}
            {% if object.owner == user or object.privacy == "PUBLIC" or object.privacy == "RESTRICTED" and user|has_gu_rights or object.privacy == "SHARED" and object.owner == user or canedit %}
                <form class="body-text" method="post">
                    {% csrf_token %}
                    <div class="wide distributed">
                        <label class="space-right" for="count">Version Number:</label>
                        <input id="count" class="filler" type="number" name="Version" min="0" max="{{ object.version }}" step="1" value="{{ object.version }}">
                        <input type="submit" value="Change">
                    </div>
                </form>
                <hr />
                <h1>{{ object.title|censor_words }}</h1>
                <h3>{{ object.update_info }}</h3>
                {% if object.formatting_enabled %}
                    <p id="doc-content">{{ object.content|censor_words|linebreaksbr|parse_formatting_tags }}</p>
                {% else %}
                    <p id="doc-content">{{ object.content|censor_words|linebreaksbr }}</p>
                {% endif %}
            {% else %}
                <h1>{{ object.title|censor_words }}</h1>
                <p>You do not have access to this document. Make sure to check the privacy settings of a document.
                To read more about privacy settings, please check <a href="{% url 'about' %}">this</a> page.</p>
            {% endif %}
        </div>
    {% endblock %}
{% endblock content %}
