{% extends 'base.html' %}

{% block title %}
    {% if is_update_form %}
        Update Document
    {% else %}
        Create New Document
    {% endif %}
{% endblock %}
{% block head %}
{% load static %}
<link type="text/css" rel="stylesheet" href="{% static 'forms.css' %}">
{% endblock %}

{% block content %}
<div class="card">
    <h1>
        {% if is_update_form %}
            Update Document
        {% else %}
            Create New Document
        {% endif %}
    </h1>
    <form class="wide body-text" method="post">
            {% csrf_token %}
            <div class="form-block">{{ form }}</div>
            <div class="form-block">
                <input type="hidden" name="next" value="{{ next }}" />
                <input type="submit" value="Post" />
            </div>
    </form>
</div>
{% endblock %}
