{% extends 'base.html' %}

{% block title %}Invitation to "{{ object.title }}"{% endblock %}
{% block head %}
{% load static %}
<link type="text/css" rel="stylesheet" href="{% static 'forms.css' %}">
{% endblock %}

{% block content %}
<div class="card">
    <h1>Invitation</h1>
    <h2>You have been invited by "{{ object.owner }}" to work on "{{ object.title }}".</h2>
    <form class="body-text" method="post">
            {% csrf_token %}
            <div class="form-group">
                <button type="submit" name="Accepted" value="Accept">Accept</button>
                <button type="submit" name="Denied" value="Deny">Deny</button>
            </div>
    </form>
</div>
{% endblock %}
