{% extends 'base.html' %}
{% block content %}
    <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ object.owner.profile.image.url }}">
        {% load cohort_tags %}
        {% if object.owner == user or object.privacy == "PUBLIC" or object.privacy == "RESTRICTED" and user|has_gu_rights or object.privacy == "SHARED" and object.owner == user or canedit %}
            <h2 class="article-title">{{ object.title }}</h2>
            {% load taboo_tags %}
            <p class="article-content">{{ object.old_ver|censor_words|linebreaks }}</p>
        {% else %}
            <p>You do not have access to this document. Make sure to check the privacy settings of a document.</p>
        {% endif %}
    </article>
{% endblock content %}
