{% extends 'base.html' %}

{% block title %}Log In{% endblock %}
{% block head %}
{% load static %}
<link type="text/css" rel="stylesheet" href="{% static 'forms.css' %}">
{% endblock %}
{% block msgs %}
    {% if form.errors %}
        <div class="alert alert-error">
            <span>The entered combination of username and password did not match any of our existing records. Please try again.</span>
        </div>
    {% endif %}
{% endblock %}

{% block content %}
<div class="card">
    <h1>Log In</h1>
    {% if user.is_authenticated %}
        {% include './already_logged_in.html' %}
    {% else %}
        <form class="body-text" method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="form-block">
                {{ form.as_p }}
            </div>
            <div class="form-block">
                <input type="hidden" name="next" value="{{ next }}" />
                <input type="submit" value="Log In" />
            </div>
        </form>

        <p class="footer">
            Don't have an account? Click <a href="{% url 'signup' %}">here</a> to sign up.
        </p>
    {% endif %}
</div>
{% endblock %}
