{% extends 'base.html' %}

{% block title %}Password Change{% endblock %}
{% block head %}
{% load static %}
<link type="text/css" rel="stylesheet" href="{% static 'forms.css' %}">
{% endblock %}

{% block content %}
<div class="card">
    <h1>Password Change</h1>
    <form class="body-text" method="post">
        {% csrf_token %}
        <div class="form-block">{{ form.as_p }}</div>
        <div class="form-block">
            <input type="hidden" name="next" value="{{ next }}" />
            <input type="submit" value="Change My Password" />
        </div>
    </form>
</div>
{% endblock %}
