{% extends 'base.html' %}

{% block title %}Sign Up{% endblock %}
{% block head %}
{% load static %}
<link type="text/css" rel="stylesheet" href="{% static 'forms.css' %}">
<style>
    .helptext {
        display: block;
    }
</style>
{% endblock %}

{% block content %}
<div class="card">
    <h1>Sign Up</h1>
    {% if user.is_authenticated %}
    {% include './already_logged_in.html' %}
    {% else %}
    <form class="body-text" method="post" action="{% url 'signup' %}">
        {% csrf_token %}
        <div class="form-block">{{ form.as_p }}</div>
        <div class="form-block">
            <input type="hidden" name="next" value="{{ next }}" />
            <input type="submit" value="Sign Up" />
        </div>
    </form>
    <p class="footer">Already have an account? Click <a href="{% url 'login' %}">here</a> to log in.</p>
    {% endif %}
</div>
{% endblock %}
