{% extends 'base.html' %}

{% block title %}DSS - Home{% endblock %}
{% block head %}
<style>
    #pfp {
        float: left;
        width: 1in;
        height: 1in;
        margin-right: 16px;
        border: thin solid #dedede;
        border-radius: 4px;
        box-shadow: 0px 2px 2px #dedede;
    }
</style>
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="card">
    <h1>My Account Information</h1>
    <div>
        {% load static %}
        <img id="pfp" src="{% if user.profile.picture != '' %}{{ user.profile.picture }}{% else %}{% static 'default_pfp.png' %}{% endif %}" />
        <ul class="spacious bulletless">
            <li>Greetings, <a href="">{{ user }}</a>.</li>
            <li>Group: {{ user.groups.all.0 }}</li>
            {% if user.profile.interests != '' %}
                <li>Interests: {{ user.profile.interests }}</li>
            {% else %}
                <li>It appears you have yet to list any of your interests. To do that, click the link at the bottom.</li>
            {% endif %}
        </ul>
        <p class="footer"><a href="{% url 'settings' %}">Change Account Settings</a></p>
    </div>
</div>

<div class="card">
    <h1>My Recent Documents</h1>
</div>

<div class="card">
    <h1>Documents Shared With Me</h1>
</div>
{% else %}
{% include 'registration/please_log_in.html' %}
{% endif %}
{% endblock %}
