{% extends 'base.html' %}

{% block title %}Settings{% endblock %}
{% block head %}
{% load static %}
<link type="text/css" rel="stylesheet" href="{% static 'forms.css' %}">
{% endblock %}

{% block content %}
<div class="card">
    <h1>Account Settings</h1>
    <p><a href="{% url 'password_change' %}">Change Password</a></p>
</div>

<div class="card">
    <h1>Profile Settings</h1>
    <form class="body-text wide" method="post">
        {% csrf_token %}
        <div class="form-block">{{ profile_form.as_p }}</div>
        <div class="form-block">
            <input type="hidden" name="next" value="" />
            <input type="submit" value="Update" />
        </div>
    </form>
    <p class="footer">
        For best results, choose an image with a square aspect ratio and
        make sure your link has &quot;http://&quot; or &quot;https://&quot; in the front.
        To optimize searchability, use spaces, commas, dashes, and/or underscores
        when separating different interests.
    </p>
</div>
{% endblock %}
