{% extends 'base.html' %}

{% block title %}DSS - Profile{% endblock %}
{% block head %}
{% load static %}
<link type="text/css" rel="stylesheet" href="{% static 'forms.css' %}">
<style>
    input[type=text], input[type=url] {
        max-width: none;
    }
</style>
{% endblock %}

{% block content %}
<div class="card">
    <h1>Account Settings</h1>
    <p><a href="{% url 'password_change' %}">Change Password</a></p>
</div>
<div class="card">
    <h1>Profile Settings</h1>
    <form class="body-text" method = "post">
        {% csrf_token %}
        <div class="form-block">{{ profile_form }}</div>
        <input type="submit" value="Update" />
        <input type="hidden" name="next" value="" />
    </form>
</div>
{% endblock %}
