{% extends 'search.html' %}

{% block title %}Registered Users{% endblock %}
{% block head %}
{% load static %}
{{ block.super }}
<style>
    @keyframes magnify {
       0% {transform: scale(2); }
       100% {transform: scale(3); }
    }
    .pfp {
        margin-right: 4px;
        width: 48px;
        height: 48px;
        z-index: 1;
    }
    .pfp:hover {
        animation-name: magnify;
        animation-duration: 2s;
        animation-fill-mode: forwards;
        animation-timing-function: steps(1);
    }
    #you .pfp {
        border: thin solid #9e9e9e;
    }
</style>
{% endblock %}

{% block filters %}
    <a class="gel-anchor" href="{% url 'users' %}">Clear Search Filters</a>
{% endblock %}

{% block helptext %}
    Try searching for a name or an interest, then press enter or search to continue.
{% endblock %}

{% block cardtitle %}
    List of Registered Users in our System
{% endblock %}

{% block results %}
    {% for user in list_of_users %}
        <div class="slash-separated distributed body-text">
            <span {% if user == request.user %}id="you"{% endif %}class="group filler gel-wrapper">
                <a href="">
                    {% include 'accounts/pfp.html' %}
                    <span>
                        {{ user.username }}
                        {% load cohort_tags %}
                        ({{ user|get_cohort_initials }})
                    </span>
                </a>
            </span>
            {% if request.user|has_su_rights and user != request.user %}
                <span class="group gel-wrapper">
                    <a href="">Manage</a>
                </span>
            {% endif %}
            {% if request.user|has_ou_rights and user != request.user %}
                <span class="group gel-wrapper">
                    <a href="">Report</a>
                </span>
            {% endif %}
            <span class="group gel-wrapper">
                <a href="{% url 'compose' %}">Message</a>
            </span>
        </div>
        {% if not forloop.last %}
            <hr />
        {% endif %}
    {% endfor %}
{% endblock %}

{% block paginator %}
    {% with searchx as search %}
    {% with list_of_users as list_of_items %}
        {{ block.super }}
    {% endwith %}{% endwith %}
{% endblock %}
