{% extends 'base.html' %}

{% block title %}Manage Applications{% endblock %}
{% block head %}
{% load static %}
<link type="text/css" rel="stylesheet" href="{% static 'forms.css' %}">
{% endblock %}

{% block content %}
<div class="card">
    <h1>Manage Applications</h1>
    {% if applications_qs.count < 1 %}
        <p><em>No new or pending applications.</em></p>
    {% else %}
        {% for apps in applications_qs %}
            <ul class="body-text">
                <li>
                    <h3><a href="{% url 'single_application' apps.applicant %}">{{ apps.applicant }}</a></h3>
                </li>
            </ul>
        {% endfor %}
    {% endif %}
</div>
{% endblock %}
