{% extends 'base.html' %}

{% block title %}{{ app.applicant }}'s Application{% endblock %}
{% block head %}
{% load static %}
<link type="text/css" rel="stylesheet" href="{% static 'forms.css' %}">
{% endblock %}

{% block content %}
<div class="card">
    <h1>{{ app.applicant }}'s Application</h1>
    <ul>
        {% if app.app_interests == "" %}
            <li>No Interests</li>
        {% else %}
            <li>{{ app.app_interests }}</li>
        {% endif %}
        <li>{{ app.extra_details }}</li>
    </ul>
    <a href="{% url 'approve' app.applicant %}">Approve</a>
    <br />
    <a href="{% url 'deny' app.applicant %}">Deny</a>
</div>
{% endblock %}
