{% extends 'base.html' %}

{% block title %}Maintain Taboo List{% endblock %}
{% block head %}
{% load static %}
<link type="text/css" rel="stylesheet" href="{% static 'flexboxes.css' %}">
<link type="text/css" rel="stylesheet" href="{% static 'local_nav.css' %}">
<link type="text/css" rel="stylesheet" href="{% static 'forms.css' %}">
{% endblock %}

{% block content %}
<div class="card blend">
    <h1>Maintain Taboo List</h1>
    <div class="distributed footer local-nav">
        <a class="{% if request.resolver_match.url_name == 'add_word' %}opened{% endif %}" href="{% url 'add_word' %}"><h2>Add Word</h2></a>
        <a class="{% if request.resolver_match.url_name == 'del_word' %}opened{% endif %}" href="{% url 'del_word' %}"><h2>Delete Word</h2></a>
    </div>
    <div class="card" style="margin-top: 0;">
        {% block subcontent %}
            <form class="wide body-text" method = "post">
                {% csrf_token %}
                <p>For best results, please enter a single word or a list of words separated by a space.</p>
                <div class="form-block">{{ taboo_form.as_p }}</div>
                <div class="form-block">
                    <input type="hidden" name="next" value="" />
                    <input type="submit" value="{% block action %}{% endblock %}" />
                </div>
            </form>
        {% endblock %}
    </div>
</div>

{% comment %}
<div class="card">
    <form class="body-text" method = "post">
        {% csrf_token %}
        <div class="form-block">{{ message_form }}</div>
        <input type="hidden" name="next" value="" />
        <input type="submit" value="Send" />
    </form>
</div>
{% endcomment %}
{% endblock %}
