{% extends 'base.html' %}

{% block title %}Taboo List{% endblock %}
{% block head %}
<style>
    #words {
        filter: blur(8px);
        transition: filter 0.1s;
    }
    #words:hover {
        filter: none;
        transition: filter 1s;
    }
</style>
{% endblock %}

{% block content %}
    <h1>List of Current Taboo Words:</h1>
    {% if words_qs.count < 1 %}
        <p>There are no taboo words on the list!</p>
    {% else %}
    <div id="words">
        {% for t in words_qs %}
            <span class="group">
                <p><span>
                    <ul>
                        <li>{{ t.word }}</li>
                    </ul>
                </span></p>
            </span>
        {% endfor %}
    </div>
    {% endif %}
    <p>Click <a href="{% url 'users' %}">here</a> to message a suggested word to an SU!</p>
{% endblock %}
