{% extends 'msg_system/mailbox.html' %}

{% block title %}Archive{% endblock %}

{% block box %}
    {% if archive_qs.count < 1 %}
        <p>No archived messages</p>
    {% else %}
        {% for msg in archive_qs %}
            <span class="group">
                <p><span>
                    <ul>
                        <li><b>{{ msg.sender }}</b></li>
                        <li><b>{{ msg.reason }}</b></li>
                        <li>{{ msg.msg_content }}</li>
                    </ul>
                </span></p>
            </span>
        {% endfor %}
    {% endif %}
{% endblock %}