{% extends 'base.html' %}

{% block title %}Compose Message{% endblock %}
{% block head %}
{% load static %}
<link type="text/css" rel="stylesheet" href="{% static 'forms.css' %}">
{% endblock %}

{% block content %}
<div class="card">
    <h1>Compose Message</h1>
    <form class="wide body-text" method = "post">
        {% csrf_token %}
        <div class="form-block">{{ message_form.as_p }}</div>
        <div class="form-block">
            <input type="hidden" name="next" value="" />
            <input type="submit" value="Send" />
        </div>
    </form>
</div>
{% endblock %}
