/* Arafat Arman, Kangming Deng, Andy Li */

body, h1, h2, h3, h4, h5, h6, p, #nav {
    margin: 0;
    padding: 0;
    color: #3d3d3d;
}

body {
    background-image: url('noise.png');
    font-family: 'IBM Plex Sans', 'Arial', 'Helvetica', sans-serif;
}

h1, h2, h3, h4, h5, h6, p, .card .bulletless {
    margin: 8px 0;
}

p, .body-text, .spacious {
    font-size: 1.5em;
}

p, .spacious {
    line-height: 1.5;
}

.bulletless {
    list-style: none !important;
    padding: 0;
}


#nav, .alert, .card {
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}

#header {
    font-size: 1.75em;
}

#nav {
    display: grid;
    position: relative;
    grid-template-columns: 1fr;
    background-color: #fefefe;
}

#nav a {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 8px;
    box-sizing: border-box;
    color: #939393;
    text-align: left;
    text-decoration: none;
}

#nav a:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 4px;
    border-radius: 2px;
    background-color: cyan;
}

#nav a:hover, #nav .opened {
    color: #3d3d3d;
}

#nav a:hover:after, #nav .opened:after {
    width: 100%;
    background-color: #3d3d3d;
    transition: width 0.2s, background-color 0.6s;
}

@keyframes grow-shrink {
   0% {height: 0; padding: 0;}
   10% {height: auto; padding: 8px;}
   90% {height: auto; padding: 8px;}
   100% {height: 0; padding: 0;}
}

.alert {
    overflow: hidden;
    text-align: center;
    color: #fefefe;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
    animation-name: grow-shrink;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

.alert-success {
    background-color: #5da486;
}

#content {
    width: 100%;
    margin: auto;
}

.card {
    margin: 24px 0;
    padding: 8px;
    border-width: thin 0;
    border-style: solid;
    border-color: #dedede;
    background-color: #fefefe;
}

.card a {
    font-weight: bold;
    text-decoration: none;
    color: #5d92a4;
}

.card a:hover {
    text-decoration: underline;
    text-decoration-skip-ink: auto;
    color: #5da486;
}

.card ul {
    list-style: circle;
}

.footer {
    padding: 16px 8px 0px 8px;
    border-top: thin solid #dedede;
    border-radius: 8px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.02), transparent);
}

@media (min-width: 500px) {
    p, .body-text, .spacious {
        font-size: 1.25em;
    }
    #header {
        font-size: 1.5em;
        position: sticky;
        top: 0;
    }
    #nav {
        grid-template-columns: repeat(5, auto);
        background-color: transparent;
        background-image: linear-gradient(rgba(254, 254, 254, 0.8), rgba(245, 245, 245, 1));
    }
    #nav a {
        padding-left: 0;
        text-align: center;
    }
    .card {
        border: thin solid #dedede;
        border-radius: 4px;
        background-color: rgba(254, 254, 254, 0.8);
    }
}

@media (min-width: 800px) {
    #content {
        width: 8.5in;
    }
}
