.distributed {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.distributed > * {
    width: auto;
}

.group {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.group * {
    vertical-align: middle;
}

.filler {
    flex: 1;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

@media only screen and (min-width: 512px) {
    .distributed {
        flex-direction: row;
    }
}
