form * {
    font-size: 14pt;
    color: #3d3d3d;
}

input[type=text], input[type=password], input[type=submit] {
    width: 100%;
    padding: 4px;
    border: 2px solid #efefef;
    border-radius: 2px;
    background-color: #fbfbfb;
    box-sizing: border-box;
    transition: box-shadow 0.1s;
}

input[type=text]:hover, input[type=password]:hover,
input[type=text]:focus, input[type=password]:focus, input[type=submit]:hover {
    box-shadow: 0px 0px 8px honeydew, 0px 0px 2px white;
}

form input[type=submit]:active {
    border-color: #dedede;
    background-color: #efefef;
}
