form {
    margin: 8px 0;
}

form > .form-block {
    /* For debugging margins */
    /* border: thick solid yellow; */
    margin: 8px 0;
}

.form-block > p, .form-block > label {
    /* For debugging margins */
    /* border: thick solid red; */
    margin: 4px 0;
}

form, input, button, textarea {
    font-size: 1em;
    font-family: inherit;
    color: inherit;
    box-sizing: border-box
}

.form-block, .form-block label, .wide {
    display: block;
}

input, textarea {
    max-width: 500px;
    width: 100%;
}

.wide input, .wide textarea {
    max-width: 100%;
}

textarea {
    min-width: 2em;
    min-height: 2em;
}

button, input, textarea {
    padding: 6px;
    border: thin solid var(--main-border-color, #dedede);
    border-radius: 2px;
    background-color: var(--main-bg-color, #fefefe);
    transition: border 0.1s;
}

input[type=text], input[type=password], input[type=number], input[type=url], textarea  {
    box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.05);
}

input:hover, input:focus, textarea:hover, textarea:focus {
    border: thin solid var(--link-color-emphasis, #5da486);
}

input:invalid:focus, input[type=url]:invalid, textarea:invalid {
    border: thin solid var(--link-color-invalid, #ff002c);
}

button, input[type=submit] {
    background-image: linear-gradient(rgb(254, 254, 254), rgb(246, 248, 250));
}

button:hover, input[type=submit]:hover {
    background-image: linear-gradient(rgb(255, 255, 255), rgb(250, 252, 254));
}

button:active, input[type=submit]:active {
    background-image: linear-gradient(rgb(254, 254, 254), rgb(236, 238, 240));
}
