.gallery {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.gallery > * {
    transition: box-shadow 0.1s, filter 0.1s;
}

.gallery > *:hover {
    box-shadow: 0px 0px 4px var(--link-color-emphasis, #5da486);
    filter: brightness(105%);
    transition: none;
}

.gallery a {
    display: inline-block;
    width: 100%;
}

@media only screen and (min-width: 512px) {
    .gallery {
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 8px;
        grid-row-gap: 8px;
    }
}

@media only screen and (min-width: 800px) {
    .gallery {
        grid-template-columns: repeat(3, 1fr);
    }
}
