 <!DOCTYPE html>
 <!-- Arafat Arman, Kangming Deng, Andy Li -->
<html>
  <head>
    <title>{% block title %}{% endblock %} - DSS</title>
    <meta charset="utf-8">
    {% load static %}
    <link type="text/css" rel="stylesheet" href="{% static 'base.css' %}">
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:100,100i,400,400i,700,700i" rel="stylesheet">
    {% block head %}{% endblock %}
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}">
  </head>
  <body onload="{% block onload %}{% endblock %}">
    <div id="header">
        <ul id="nav" class="bulletless">
            <li><a class="{% if request.resolver_match.url_name == 'about'%}opened{% endif %}" href="{% url 'about' %}">DSS</a></li>
            <li><a class="{% if request.resolver_match.url_name == 'index' or request.resolver_match.url_name == 'home'%}opened{% endif %}" href="{% url 'index' %}">Home</a></li>
            <li><a class="{% if request.resolver_match.url_name == 'docs' %}opened{% endif %}" href="{% url 'docs' %}">Documents</a></li>
            <li><a class="{% if request.resolver_match.url_name == 'users' %}opened{% endif %}" href="{% url 'users' %}">Users</a></li>
            {% if user.is_authenticated %}
                <li><a class="{% if request.resolver_match.url_name == 'inbox' or request.resolver_match.url_name == 'sent' %}opened{% endif %}" href="{% url 'inbox' %}">Mailbox</a></li>
                <li><a href="{% url 'logout' %}">Log Out</a></li>
            {% else %}
                <li><a class="{% if request.resolver_match.url_name == 'signup'%}opened{% endif %}" href="{% url 'signup' %}">Sign Up</a></li>
                <li><a class="{% if request.resolver_match.url_name == 'login'%}opened{% endif %}" href="{% url 'login' %}">Log In</a></li>
            {% endif %}
        </ul>
        <div id="alerts">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        <span>{{ message }}</span>
                    </div>
                {% endfor %}
            {% endif %}
            {% block msgs %}{% endblock %}
        </div>
    </div>
    <div id="content">
        {% load cohort_tags %}
        {% if user|is_locked_out %}
        <div class="error card">
            <h1>Locked</h1>
            <p>⚠️ To lift this status off, please remove <em>all</em> <a href="{% url 'taboo_list' %}">taboo words</a> you have used in this <a href="{% url 'doc-detail' user.profile.doc_to_fix %}">document</a>.</p>
        </div>
        {% endif %}
        {% block content %}{% endblock %}
    </div>
  </body>
</html>
