{% extends 'base.html' %}

{% block head %}
{% load static %}
<link type="text/css" rel="stylesheet" href="{% static 'forms.css' %}">
<link type="text/css" rel="stylesheet" href="{% static 'flexboxes.css' %}">
<link type="text/css" rel="stylesheet" href="{% static 'paginator.css' %}">
<link type="text/css" rel="stylesheet" href="{% static 'widgets.css' %}">
<style>
    #ipp {
        margin-right: 8px;
    }
</style>
<script type="text/javascript" src="{% static 'effects.js' %}"></script>
{% endblock %}
{% block onload %}display();{% endblock %}

{% block content %}
    {% block before_search %}{% endblock %}

    {% block search %}
        <div id="search" class="card">
            <h1>Search</h1>
            <form class="body-text" method="get">
                <div class="form-block wide distributed">
                    <input class="filler" type="text" name="search" value="{{ search }}" />
                    <input type="submit" value="Search" />
                    <input type="hidden" name="count" value="{{ count }}" />
                </div>
            </form>
            <div class="body-text">{% block filters %}{% endblock %}</div>
            <p class="footer">{% block helptext %}{% endblock %}</p>
            <button class="toggler body-text" onclick="expandCollapseParentOf(this);">-</button>
        </div>
    {% endblock %}

    {% block after_search %}{% endblock %}

    <div class="card">
        {% block limiter %}
            <h1>{% block cardtitle %}{% endblock %}</h1>
            <form class="body-text" method="get">
                <div class="form-block wide distributed">
                    <label id="ipp" for="count">Items per page:</label>
                    <input type="hidden" name="search" value="{{ search }}" />
                    <input id="count" class="filler" type="number" name="count" min="1" step="1" value="{{ count }}" />
                    <input type="submit" value="Change" />
                </div>
            </form>
        {% endblock %}

        {% block results %}{% endblock %}

        {% block paginator %}
            <div class="paginator distributed footer body-text">
                <span class="group filler left">
                    {% if list_of_items.has_previous %}
                        <a href="?search={{ search }}&count={{ count }}&page=1">&lt;&lt; First</a>
                        <a href="?search={{ search }}&count={{ count }}&page={{ list_of_items.previous_page_number }}">Previous</a>
                    {% endif %}
                </span>
                <span class="group center">
                    <i>{{ list_of_items.number }} of {{ list_of_items.paginator.num_pages }}</i>
                    <span class="space-above">
                        {% for i in sequence %}
                            <a class="gel-anchor {% if i == list_of_items.number %}gel-anchor-active{% endif %}" href="?search={{ search }}&count={{ count }}&page={{ i }}">{{ i }}</a>
                        {% endfor %}
                    </span>
                </span>
                <span class="group filler right">
                    {% if list_of_items.has_next %}
                        <a href="?search={{ search }}&count={{ count }}&page={{ list_of_items.paginator.num_pages }}">Last &gt;&gt;</a>
                        <a href="?search={{ search }}&count={{ count }}&page={{ list_of_items.next_page_number }}">Next</a>
                    {% endif %}
                </span>
            </div>
        {% endblock %}
    </div>

    {% block after_paginator %}{% endblock %}
{% endblock %}
